@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background-color: rgb(227, 199, 253);
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* *{
  border:1px solid red;
} */

/* Custom Scrollbar Styles */
.scrollbar-custom::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar (for horizontal scroll) */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color:rgb(147 51 234); /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners */
}

.scrollbar-custom::-webkit-scrollbar-thumb:hover {
  background-color: rgb(147 51 234); /* Color of the scrollbar thumb on hover */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: rgb(227, 199, 253) ; /* Background of the scrollbar track */
  border-radius: 10px; /* Rounded corners of the scrollbar track */
}
